<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleguide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <img class="rectangle" src="img/Rectangle 7.png" />
            <img class="menu" src="https://c.animaapp.com/e4qrsAEL/img/menu.svg" />
            <img class="frame" src="img/Frame 1 (2).png" />
            <img class="logo-removebg" src="https://c.animaapp.com/e4qrsAEL/img/logo-removebg-preview-2.png" />
          </div>
          <div class="overlap-2">
            <div class="prep-better-ace">Prep better, <br />Ace faster.</div>
            <img class="hero-removebg" src="https://c.animaapp.com/e4qrsAEL/img/hero-removebg-preview-1.png" />
            <div class="blur"></div>
            <div class="text-wrapper">About us</div>
          </div>
          <div class="group">
            <div class="div-wrapper"><div class="text-wrapper-2">Log in</div></div>
          </div>
        </div>
        <div class="text-wrapper-3">Heer H. Patel</div>
        <div class="text-wrapper-4">Vrushti C. Patel</div>
        <div class="text-wrapper-5">Devin D.Patel</div>
        <div class="text-wrapper-6">Parshva K. Shah</div>
        <div class="overlap-3">
          <div class="overlap-4">
            <img class="img" src="https://c.animaapp.com/e4qrsAEL/img/rectangle-15.png" />
            <div class="rectangle-2"></div>
            <img class="image" src="https://c.animaapp.com/e4qrsAEL/img/image-1.png" />
            <img class="image-2" src="https://c.animaapp.com/e4qrsAEL/img/image-2@2x.png" />
            <p class="studymate-is-a">
              &#34;StudyMate is a lifesaver! <br />The collection of notes and YouTube video<br />
              links is&nbsp;&nbsp;incredibly well-organized. It’s so <br />easy&nbsp;&nbsp;to find exactly what I need
              for each<br />
              subject.&nbsp;&nbsp;Highly recommend this<br />
              to all computer engineering students!&#34;
            </p>
            <p class="the-design-is-clean">
              The design is clean, and the navigation<br />
              is smooth. The one-shot video links <br />are perfect for last-minute revision. <br />Thanks for creating
              this platform!&#34;
            </p>
          </div>
          <div class="overlap-5">
            <p class="i-love-how-user">
              &#34;I love how user-friendly and<br />
              intuitive the website is. The <br />exam preparation materials <br />and previous year question
              <br />papers are super helpful.<br />
              Just what I needed for<br />
              my semester exams!&#34;
            </p>
            <img class="image-3" src="https://c.animaapp.com/e4qrsAEL/img/image-3@2x.png" />
          </div>
        </div>
        <div class="text-wrapper-7">Reviews</div>
        <img class="vru" src="https://c.animaapp.com/e4qrsAEL/img/vru-1@2x.png" />
        <img class="devin" src="https://c.animaapp.com/e4qrsAEL/img/devin-1@2x.png" />
        <img class="heer" src="https://c.animaapp.com/e4qrsAEL/img/heer-1@2x.png" />
        <div class="overlap-6">
          <div class="text-wrapper-8">Phone.no:- 0123456789</div>
          <p class="LDRP-institute-of">
            LDRP-Institute of Research and Technology,<br />KSV University, Gandhinagar, Gujarat, India
          </p>
          <div class="frame-2">
            <div class="text-wrapper-9">Home</div>
            <div class="text-wrapper-10">Subjects</div>
            <div class="text-wrapper-10">Exam paper</div>
            <div class="text-wrapper-10">About us</div>
          </div>
          <div class="text-wrapper-11">Quick links</div>
          <img class="logo-removebg-2" src="https://c.animaapp.com/e4qrsAEL/img/logo-removebg-preview-1@2x.png" />
          
          <div class="text-wrapper-12">Contact us</div>
        </div>
        <img class="pars" src="https://c.animaapp.com/e4qrsAEL/img/pars-1@2x.png" />
      </div>
    </div>
  </body>
</html>
